body {
  color: white;
  background-color: rgb(35, 35, 35);
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar a {
  color: rgb(173, 173, 173);
}

.navbar a.active {
  color: pink;
}


.help-layout {
  display: flex;
  
  gap: 16px;
  justify-content: start;
}

.help-layout a {
  color: rgb(173, 173, 173);
}

.help-layout a.active {
  color: pink;
}

.blog-preview {
  padding: 10px 16px; 
  margin: 20px 0;
  border-bottom: 1px solid white;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgb(14, 14, 14);
}

.blog-preview h2 {
  font-size: 20px;
  color: rgb(191, 32, 205);
  margin-bottom: 8px;
}

main {
  max-width: 1200px;
  margin: 40px auto;
}